body {
  background-color: lightgray;
}

main {
  width:800px;
  margin: 0 auto;
}

section {
  height: 100vh;
  background-color: orange;
}

.container {
  background-color: white;
}

.pic {

}

.explanation {
 background-color: lightblue;
}

.ip {
  position: absolute;
  top: 82%;
}

.php {
  position: absolute;
  top: 70%;
}

.iop {
  position: absolute;
  top: 62%;
}

.it {
  position: absolute;
  top: 49%;
  right: 58%;
}

.text {

}
